           body {
        font-family: 'Open Sans', sans-serif;
        background-color: #e0cfc2;
        text-align: center;
          background-repeat: no-repeat;
           background-size: cover;
      }
<iframe allowfullscreen="" frameborder="0" height="600" src="//kora199.ga/Live/match/6860" width="100%"></iframe>

      h1 {
        text-align: center;
      }
      p {
        color: #000000;
        text-align: center;
        margin-bottom: 3em;
      }

button {
  background-color: #000000;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  padding: 10px 20px;
}

footer {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: transparent;
    margin: 0;
    padding: 15px;
    bottom: 0;
    width: 100%;

}
img {
width: 20px;
height: 20px;
}
#summ {



}
#12 {
text-align: center;
}